Flask==0.10.1
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
WebOb==1.5.1
WebTest==2.0.20
Werkzeug==0.10.4
beautifulsoup4==4.4.1
hpc==0.2.714
itsdangerous==0.24
parsedatetime==1.5
pycrypto==2.6.1
python-statsd==1.7.2
redis==2.10.3
requests==2.8.1
six==1.10.0
waitress==0.8.10
wsgiref==0.1.2
pep8==1.6.2
mock==1.3.0
nose==1.3.7
--extra-index-url https://pypi.prod.hulu.com/simple
